@font-face {
    font-family: 'DSEG14 Classic';
    font-style: italic;
    font-weight: 700;
    src: local('DSEG14 Classic'), url('https://fonts.cdnfonts.com/s/14091/DSEG14Classic-BoldItalic.woff') format('woff');
}